<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Notes App</title>
</head>
<body>
<div id="app">
    <div id="created">
        <h1>Заметки</h1>
        <div>
            <input @keyup.enter="createNote" v-model="noteTitle" placeholder="заметка">
            <button @click="createNote">Добавить</button>
        </div>

    </div>
    <br>

<!--    <div class="container">-->
        <left-list :notes="notes" :note_data="note" v-for="(note, index) in notes" :key="index"></left-list>
<!--        <center-list></center-list>-->
<!--        <right-list></right-list>-->
<!--    </div>-->
</div>
</body>
</html>